.square {
  width: 125px;
  height: 72px;
}

.Calc {
  height: 80px;
  text-align: right;
}

.board-row {
  margin-bottom: 0;
}

.longButton {
  width: 300px;
}

.appDiv {
  width: 500px;
  margin: auto;
}
